.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    --bs-btn-active-bg: #2E7912 !important;
    --bs-btn-active-border-color: #2E7912 !important;
}

.forget-pass-UI {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: auto;
    /* border:2px solid yellow; */
}

.forget-pass-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-bottom: 25px;
    margin-top: 25px;

    width: 80vw;
    padding: 20px;
}


.forget-pass-section .title {
    font-size: clamp(1.5em, 3vw, 4vw);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 750;
    margin-bottom: 20px;
}

.forget-pass-section .subtitle {
    font-size: clamp(.5em, 1.2em, 2em);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    width: 60%;
    margin-bottom: 20px;
    font-weight: 450;
}

.forget-pass-section label {
    font-size: clamp(.9em, 1.2em, 3em);
}

.forget-pass-section form {
    width: 100%;
    display: flex;
    justify-content: center;

}


.forget-pass-section .mb-3,
.forget-pass-section .mb-3 input,
.forget-pass-section .mb-3 label {
    width: clamp(25vw, 60vw, 40vw);
}


.forget-pass-section .navigation-btn,
.forget-pass-section .navigation-btn:hover {
    width: clamp(10vw, 25vw, 30vw);
    margin-top: 30px;
    height: 40px;

}

.forget-pass-section .reset-form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




svg#Layer_1 {

    width: 100px;

    height: 100px;

}