.Menu {
    border: 1px solid #000;
    border-right: none;
    background-color: #fff;
    border-collapse: collapse;

    width: 5em;
    text-align: center;
    

    /* forcing this dumb shit to be on the right side of the page
        since relative layout refuses to work with the sudoku grid
    */
    position: absolute;
    right: calc(20%);
    top: calc(57% / 2);

    /*
    position: relative;
    */
}


.MenuTable {
    display: flex;
    flex-direction: column;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
    grid-template-columns: 50px;
    grid-gap: 0.5em;


    border: none;
    background-color: #fff;
    margin: 0.2em;
}

.number {
    background-color: #aaa;
    color: #fff;
    border-radius: 30px;
    font-size: 150%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}