@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

.Menu {
    border: 4px solid #000;
    border-top: none;
    background-color: #fff;
    border-collapse: collapse;

    width: 100%;
    text-align: center;
    background-color: rgba(55, 138, 25, 0.9);
}


.MenuTable {
    display: flex;
    flex-direction: row;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
    grid-template-columns: 50px;
    grid-gap: 0.5em;
    
    align-items: center;
    justify-content: center;


    border: none;
    margin: 0.2em;
}

.number {
    background-color: #ABE188;
    border-radius: 20px;
    font-size: 150%;
    margin-bottom: 0.5em;
    border: 1px solid #000;

    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.number:hover {
    cursor: pointer;
    background-color: #abe1888a;
}

.Title {
    font-size: 2.5em;
    color: white;
}



@media screen and (max-width: 968px) {

    .Title{
        font-size: 100%;
    }

    .number{
        font-size: 3vw;
    }

    .MenuTable{
        flex-wrap: wrap;
    }

    .Landing-title{
        font-size: clamp(.5em, 5vw, 5vw);
    }

    /* .Menu {
        width: 100%;
        margin-left:.8em;
        margin-right: .8em;
     
   
    } */

}